<?xml version="1.0"?>
<model>
  <name>cluttered_obstacles_hardware</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Harsh Modi</name>
    <email>harsh.modi@tamu.edu</email>
  </author>
  <description>An environment to mimic cluttered obstacles as per hardware</description>
</model>
