<?xml version='1.0' encoding='utf-8'?>
<robot name="realistic_room">
  <link name="base_link" />
  <link name="roof">
    <inertial>
      <origin xyz="5.75 0.0 2" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <collision>
      <origin xyz="5.75 0.0 2" rpy="0 0 0" />
      <geometry>
        <box size="8.5 5.0 0.1" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_roof" type="fixed">
    <parent link="base_link" />
    <child link="roof" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="left_wall">
    <inertial>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
      <material name="left_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_left_wall" type="fixed">
    <parent link="base_link" />
    <child link="left_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="right_wall">
    <inertial>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
      <material name="right_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_right_wall" type="fixed">
    <parent link="base_link" />
    <child link="right_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="front_wall">
    <inertial>
      <origin xyz="10.0 0.0 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="10.0 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.1 5 2.5" />
      </geometry>
      <material name="front_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="10.0 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.1 5 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_front_wall" type="fixed">
    <parent link="base_link" />
    <child link="front_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="wall1_left">
    <inertial>
      <origin xyz="1.5 2.0601 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="1.5 2.0601 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.8797 2.5" />
      </geometry>
      <material name="wall1_left_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.5 2.0601 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.8797 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_wall1_left" type="fixed">
    <parent link="base_link" />
    <child link="wall1_left" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="wall1_right">
    <inertial>
      <origin xyz="1.5 -0.6049 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="1.5 -0.6049 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 3.7903 2.5" />
      </geometry>
      <material name="wall1_right_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="1.5 -0.6049 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 3.7903 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_wall1_right" type="fixed">
    <parent link="base_link" />
    <child link="wall1_right" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="wall2_left">
    <inertial>
      <origin xyz="5.5 1.6295 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.5 1.6295 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 1.7410 2.5" />
      </geometry>
      <material name="wall2_left_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.5 1.6295 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 1.7410 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_7_wall2_left" type="fixed">
    <parent link="base_link" />
    <child link="wall2_left" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="wall2_right">
    <inertial>
      <origin xyz="5.5 -1.3705 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.5 -1.3705 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 2.2590 2.5" />
      </geometry>
      <material name="wall2_right_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.5 -1.3705 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.15 2.2590 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_8_wall2_right" type="fixed">
    <parent link="base_link" />
    <child link="wall2_right" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="door">
    <inertial>
      <origin xyz="5.85 0.2590 0.75" rpy="0 0 0.78" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.85 0.2590 0.75" rpy="0 0 0.78" />
      <geometry>
        <box size="1.0 0.1 2.5" />
      </geometry>
      <material name="door_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.85 0.2590 0.75" rpy="0 0 0.78" />
      <geometry>
        <box size="1.0 0.1 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_9_door" type="fixed">
    <parent link="base_link" />
    <child link="door" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>