<?xml version="1.0"?>
<model>
  <name>convex_obstacles_environment</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Harsh Modi</name>
    <email>harsh.modi@tamu.edu</email>
  </author>
  <description>A sample room with narrow gaps through which the MorphoCopter has to pass</description>
</model>
