<?xml version='1.0' encoding='utf-8'?>
<robot name="convex_obsttacles_environment">
  <link name="base_link" />
  <link name="roof">
    <inertial>
      <origin xyz="5.75 0.0 2" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <collision>
      <origin xyz="5.75 0.0 2" rpy="0 0 0" />
      <geometry>
        <box size="8.5 5.0 0.1" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_1_roof" type="fixed">
    <parent link="base_link" />
    <child link="roof" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="left_wall">
    <inertial>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
      <material name="left_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.75 2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_2_left_wall" type="fixed">
    <parent link="base_link" />
    <child link="left_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="right_wall">
    <inertial>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
      <material name="right_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.75 -2.5 0.75" rpy="0 0 0" />
      <geometry>
        <box size="8.5 0.1 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_3_right_wall" type="fixed">
    <parent link="base_link" />
    <child link="right_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="front_wall">
    <inertial>
      <origin xyz="10 0.0 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="10 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.1 5 2.5" />
      </geometry>
      <material name="front_wall_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="10 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <box size="0.1 5 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_4_front_wall" type="fixed">
    <parent link="base_link" />
    <child link="front_wall" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="obstacle1">
    <inertial>
      <origin xyz="3.0 1.3 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="3.0 1.3 0.75" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.5" length="2.5" />
      </geometry>
      <material name="obstacle1_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="3.0 1.3 0.75" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.5" length="2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_5_obstacle1" type="fixed">
    <parent link="base_link" />
    <child link="obstacle1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="obstacle2">
    <inertial>
      <origin xyz="3.0 0.0 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="3.0 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.5" length="2.5" />
      </geometry>
      <material name="obstacle2_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="3.0 0.0 0.75" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.5" length="2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_6_obstacle2" type="fixed">
    <parent link="base_link" />
    <child link="obstacle2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="obsacle3">
    <inertial>
      <origin xyz="3.0 -1.25 0.75" rpy="0 0 0" />
      <mass value="999999999999999999999999999.0" />
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="3.0 -1.25 0.75" rpy="0 0 0" />
      <geometry>
        <box size="1.0 2.5 2.5" />
      </geometry>
      <material name="obsacle3_color">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="3.0 -1.25 0.75" rpy="0 0 0" />
      <geometry>
        <box size="1.0 2.5 2.5" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_7_obsacle3" type="fixed">
    <parent link="base_link" />
    <child link="obsacle3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
</robot>