<?xml version="1.0"?>
<model>
  <name>folding_drone_obstacle2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Harsh Modi</name>
    <email>harsh.modi@tamu.edu</email>
  </author>
  <description>A first simple obstacle for gap passing folding drone.</description>
</model>
